{% extends 'layout.html.twig' %}

{% block title %}New Espece{% endblock %}

{% block main %}
    <h1>Create new Espece</h1>

    {{ include('espece/_form.html.twig') }}

    <a class="back" href="{{ path('espece_index') }}">back to list</a>
{% endblock %}
