:root {
  font-family: "Cherry Swash", cursive;
  font-family: "Roboto", sans-serif;

  --border-radius: 4px;
  --primary-color: #1192AD;
  --highlight-color: #1FB0CF;
}

body {
  display: flex;
  background-color: white;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
}

main {
  flex: 1;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  margin: auto;
  margin-block: 20px;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-color);
}

th, td {
  padding: 12px 15px;
}

th {
  background-color: var(--primary-color);
  color: #ffffff;
  text-align: left;
}

.create-new, .show, .delete, .back, form:not(#search) {
  display: block;
  width: 100%;
  text-align: center;
  margin: auto;
}

.delete {
  margin-top: 10px;
}
