<form method="post" action="{{ path('echouage_delete', {'id': echouage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ echouage.id) }}">
    <button class="btn">Delete</button>
</form>
