{% extends "layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/back-office.css") }}">
{% endblock %}

{% block main %}
    <form id="search">
        <input type="text" placeholder="hello" />
    </form>
{% endblock %}
